@model Regra.Models.PessoaModel

@{
   ViewData["Title"] = "Editar";
}
<div class="d-flex justify-content-center">
   <div class="d-flex justify-content-between w-25">
      <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
         + Endereço
      </button>
      <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">
         + Divida
      </button>
   </div>
</div>

<br />
<h4 class="display-5 text-center">Atualizar @Model.Nome</h4>
<hr />
<div class="row d-flex justify-content-center">
   <div class="col-md-4 ">
      <form asp-action="Editar">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input asp-for="IdPessoa" type="hidden" />
         <div class="form-group">
            <label asp-for="Nome" class="control-label">Nome</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="CPF" class="control-label">CPF</label>
            <input asp-for="CPF" id="CPF" type="text" maxlength="14" class="form-control" />
            <span asp-validation-for="CPF" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Telefone" class="control-label">Telefone</label>
            <input type="text" asp-for="Telefone" maxlength="14" id="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="email" asp-for="Email" id="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
         </div>
         <div class="form-group m-3">
            <input type="submit" value="Atualizar" class="btn btn-success btn-sm" />
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary btn-sm">Voltar</a>
         </div>
      </form>
   </div>

   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Novo Endereço</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form asp-action="CreateEndereco">
                  <div class="form-group">
                     <input asp-for="@Model.Endereco.IdPessoa" value="@Model.IdPessoa" type="hidden" />
                     <label asp-for="@Model.Endereco.CEP" class="control-label">CEP</label>
                     <input asp-for="@Model.Endereco.CEP" type="text" id="CEP" maxlength="14" class="form-control" />
                     <span asp-validation-for="@Model.Endereco.CEP" class="text-danger"></span>
                  </div>
                  <div class="form-group mt-1">
                     <label asp-for="@Model.Endereco.NomeEndereco" class="control-label">Endereço</label>
                     <input asp-for="@Model.Endereco.NomeEndereco" id="NomeEndereco" class="form-control" />
                     <span asp-validation-for="@Model.Endereco.NomeEndereco" class="text-danger"></span>
                  </div>
                  <div class="row mt-1">
                     <div class="form-group col-md-7">
                        <label asp-for="@Model.Endereco.Cidade" class="control-label">Cidade</label>
                        <input asp-for="@Model.Endereco.Cidade" id="Cidade" class="form-control" />
                        <span asp-validation-for="@Model.Endereco.Cidade" class="text-danger"></span>
                     </div>
                     <div class="form-group col-md-5">
                        <label asp-for="@Model.Endereco.NumeroCasa" class="control-label">Número</label>
                        <input asp-for="@Model.Endereco.NumeroCasa" id="NumeroCasa" class="form-control" />
                        <span asp-validation-for="@Model.Endereco.NumeroCasa" class="text-danger"></span>
                     </div>
                  </div>

                  <div class="form-group">
                     <label asp-for="@Model.Endereco.Estado" class="control-label">Estado</label>
                     <select asp-for="@Model.Endereco.Estado" id="Estado" class="form-control">
                        <option value="" selected disabled>Selecione um estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                     </select>
                     <span asp-validation-for="@Model.Endereco.Estado" class="text-danger"></span>
                  </div>

                  <div class="form-group m-3">
                     <input type="submit" class="btn btn-success btn-sm" />
                     <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Novo Endereço</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form asp-action="CreateDivida">
                  <div class="form-group">
                     <input asp-for="@Model.Divida.IdPessoa" value="@Model.IdPessoa" type="hidden" />
                     <label asp-for="@Model.Divida.DescricaoDivida" class="control-label">Descrição</label>
                     <input asp-for="@Model.Divida.DescricaoDivida" type="text" id="DescricaoDivida" class="form-control" />
                     <span asp-validation-for="@Model.Divida.DescricaoDivida" class="text-danger"></span>
                  </div>
                  <div class="row mt-1">
                     <div class="form-group col-md-6">
                        <label asp-for="@Model.Divida.Juros" class="control-label" tooltip="Teste">Juros por dia</label>
                        <input asp-for="@Model.Divida.Juros" id="Juros" class="form-control" />
                        <span asp-validation-for="@Model.Divida.Juros" class="text-danger"></span>
                     </div>
                     <div class="form-group mt-1 col-md-6">
                        <label asp-for="@Model.Divida.ValorDivida" class="control-label">Valor</label>
                        <input asp-for="@Model.Divida.ValorDivida" id="ValorDivida" class="form-control" />
                        <span asp-validation-for="@Model.Divida.ValorDivida" class="text-danger"></span>
                     </div>
                  </div>
                  <div class="form-group m-3">
                     <input type="submit" class="btn btn-success btn-sm" />
                     <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   @if (Model.ListaEndereco.Any())
   {
      <small class="text-muted m-3 d-flex justify-content-center">~Clique sobre os valores da tabela para ir para tela de edição~</small>
      <h3 class="display-6 text-center">Lista de Endereços</h3>
      <div class=" d-flex justify-content-center">
         <table class="table table-hover">
            <thead class="thead-dark">
               <tr>
                  <th scope="col">CEP</th>
                  <th scope="col">Endereço</th>
                  <th scope="col">Número</th>
                  <th scope="col">Cidade</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Apagar</th>
               </tr>
            </thead>

            @foreach (var item in Model.ListaEndereco)
            {
               <tbody>
                  <tr>
                     <td><a asp-controller="Pessoa" asp-action="EditarEndereco" asp-route-idEndereco="@item.IdEndereco" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.CEP)</a></td>
                     <td> <a asp-controller="Pessoa" asp-action="EditarEndereco" asp-route-idEndereco="@item.IdEndereco" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.NomeEndereco)</a></td>
                     <td> <a asp-controller="Pessoa" asp-action="EditarEndereco" asp-route-idEndereco="@item.IdEndereco" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.NumeroCasa)</a></td>
                     <td> <a asp-controller="Pessoa" asp-action="EditarEndereco" asp-route-idEndereco="@item.IdEndereco" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.Cidade)</a></td>
                     <td> <a asp-controller="Pessoa" asp-action="EditarEndereco" asp-route-idEndereco="@item.IdEndereco" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.Estado)</a></td>
                     <td><form asp-controller="Pessoa" asp-action="ApagarEndereco" asp-route-idEndereco="@item.IdEndereco" class="text-dark font-weight-light text-decoration-none"><button type="submit" class="border-0 btn btn-outline-danger">X</button></form></td>
                  </tr>
               </tbody>
            }
         </table>
      </div>
   }
   else
   {
      <small class="text-muted m-3 d-flex justify-content-center">~Clique em "+ Endereço" para cadastrar um novo endereço para esse cadastro~</small>

   }

   @if (Model.ListaDivida.Any())
   {
      <h3 class="display-6 text-center">Lista de Dividas</h3>
      <div class="d-flex justify-content-center">
         <div class=" d-flex justify-content-center">
            <table class="table table-hover">
               <thead class="thead-dark">
                  <tr>
                     <th scope="col">Descrição</th>
                     <th scope="col">Valor</th>
                     <th scope="col">Juros</th>
                     <th scope="col">Valor com juros</th>
                     <th scope="col">Apagar</th>
                  </tr>
               </thead>

               @foreach (var item in Model.ListaDivida)
               {
                  <tbody>
                     <tr>
                        <td><a asp-controller="Pessoa" asp-action="EditarDivida" asp-route-idEndereco="@item.IdDivida" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.DescricaoDivida)</a></td>
                        <td> <a asp-controller="Pessoa" asp-action="EditarDivida" asp-route-idEndereco="@item.IdDivida" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.ValorDivida)</a></td>
                        <td> <a asp-controller="Pessoa" asp-action="EditarDivida" asp-route-idEndereco="@item.IdDivida" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.Juros)</a></td>
                        <td> <a asp-controller="Pessoa" asp-action="EditarDivida" asp-route-idEndereco="@item.IdDivida" class="text-dark font-weight-light text-decoration-none"> @Html.DisplayFor(modelItem => item.ValorComJuros)</a></td>
                        <td><form asp-controller="Pessoa" asp-action="ApagarDivida" asp-route-idEndereco="@item.IdDivida" class="text-dark font-weight-light text-decoration-none"><button type="submit" class="border-0 btn btn-outline-danger">X</button></form></td>
                     </tr>
                  </tbody>
               }
            </table>
         </div>
      </div>
   }
</div>
